.container {
  margin: 25px 10px;
  padding: 15px 15px;
  display: flex-box;
  background: #f6e4ad;
  border: 0.5rem outset grey;
  border-radius: 30px;
}

.logo {
  font-size: 30px;
  margin: 0px 10px;
  padding: 10px 10px;
  border: 2px inset;
}

h1 {
  margin: 10px 10px;
  padding: 10px;
}
h1,
h2,
h3,
h4 {
  text-align: center;
  font-family: "Nanum Gothic Coding", monospace;
}

p {
  font-family: "Open Sans";
}

.about-details {
  font-size: small;
}

@media (max-width: 950px) {
  .skills li {
    display: inline-block;
    margin: 3px;
  }

  .container {
    margin: 5px;
    padding: 5px;
    max-width: 100%;
  }
}

.btn {
  align-items: center;
  appearance: none;
  background-color: #3eb2fd;
  background-image: linear-gradient(1deg, #4f58fd, #149bf3 99%);
  background-size: calc(100% + 20px) calc(100% + 20px);
  border-radius: 100px;
  border-width: 0;
  box-shadow: none;
  box-sizing: border-box;
  color: #ffffff;
  cursor: pointer;
  display: inline-flex;
  font-family: CircularStd, sans-serif;
  font-size: 1rem;
  height: auto;
  justify-content: center;
  line-height: 1.5;
  padding: 6px 20px;
  position: relative;
  text-align: center;
  text-decoration: none;
  transition: background-color 0.2s, background-position 0.2s;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  vertical-align: top;
  white-space: nowrap;
}

.button-21:active,
.button-21:focus {
  outline: none;
}

.button-21:hover {
  background-position: -20px -20px;
}

.button-21:focus:not(:active) {
  box-shadow: rgba(40, 170, 255, 0.25) 0 0 0 0.125em;
}

.row {
  display: inline-flex;
  margin: 10px;
  padding: 15px;
}

.shecodes-link {
  text-align: center;
  text-decoration: none;
}

.profile-pic {
  width: 350px;
  height: 350px;
}

img {
  display: block;
  margin: 0 auto;
  padding: 10px;
}

ul {
  list-style-type: none;
  display: block;
}

li {
  display: inline;
  padding: 10px;
}

.spacer {
  margin-left: 5px;
  text-decoration: none;
  font-weight: bolder;
}

.world-clock-pic {
  width: 250px;
}

.weather-app-pic {
  width: 425px;
}

.ecoquiz-pic {
  width: 350px;
}

section {
  display: block;
}

.border-link {
  margin: 10px;
  padding: 10px 15px;
  text-decoration: none;
}

footer {
  text-align: center;
}

footer i {
  padding: 10px;
  margin: 10px;
}
