a {
  text-decoration: none;
}

.logo {
  font-size: 30px;
  margin: 0px 10px;
  padding: 10px 10px;
  border: 2px inset;
}

h1 {
  margin: 10px 10px;
  padding: 10px;
}
h1,
h2,
h3 {
  text-align: center;
}

.row {
  display: inline-flex;
  margin: 10px;
  padding: 15px;
}

.shecodes-link {
  text-align: center;
}

.profile-pic {
  width: 350px;
  height: 350px;
}

ul {
  list-style-type: none;
}

li {
  display: inline;
  padding: 10px;
}

.spacer {
  margin-left: 5px;
}

.world-clock-pic {
  width: 300px;
}

.weather-app-pic {
  width: 350px;
}

section {
  display: block;
}

.border-link {
  margin: 10px;
  padding: 10px 15px;
}

footer {
  text-align: center;
}

footer i {
  padding: 10px;
  margin: 10px;
}
